* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --primary-color: #F07807;
    /* criando cores com escopo global, para todo o projeto, usando o -- como boas práticas de nome */
    --secundary-color: #FEF8F2;
    --default-shadow: 0px 4px 4px #0004;
    --default-padding: 0px 80px;
}

html {
    scroll-behavior: smooth; /* faz uma animação suave para o id */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}

header {
    height: 60px;
    width: 100%;
    position: absolute;
    /* tornando o header absolut ela deixa de ser do body, ficando sem pai */
    position: fixed;
    /* torna o objeto fixo, acompanhando sempre em toda a pagina */
    display: flex;
    justify-content: space-between;
    /* serve para espalhar eles no espaço */
    align-items: center;
    top: 60px;
    padding: var(--default-padding);
    z-index: 999; /* coloca ele na frente de tudo */
    background-color: #fff5; /* coloca uma cor meio transparente */
    /* utilizamos isso para ele ficar em cima de todos os objetos */
}

header menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);

}

header button {
    height: 48px;
    width: 120px;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    color: var(--primary-color);
}


section {
    height: 100vh;
    padding: var(--default-padding)
}

.home {
    background-color: lightgreen;
    background: url(./img/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 70% 30%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.hero h2 {
    font-size: 4rem;
    width: 558px;
    font-weight: 400;
    margin-bottom: 64px;
}

.hero span {
    color: var(--primary-color);
}

.container-produtos {
    display: flex;
    justify-content: space-between;
    /*usado para dar espacamento entre as imagens das pizzas */
    align-items: center;
}

.pizza {
    position: relative;
    /*foi usado o relative porque é o que menos altera o comportamento dele */
    display: flex;
    border-radius: 12px;
}

.add-produto {
    position: absolute;
    top: -18px;
    right: -20px;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    font-size: 32px;
    color: white;
    border-radius: 12px;
    border: 4px solid white;
    /* borda da caixa do + */
    background-color: var(--primary-color);
    opacity: 0;
    transition: .5s;
}

.pizza:hover .add-produto {
    opacity: 1;
}

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 100%;
    padding: 0 12px;
    position: absolute;
    bottom: -36px;
    background-color: #0008;
    border-radius: 0 0 12px 12px;
}


.container-info p {
    width: 120px;
    font-size: 12px;
    color: white;
}

.animacao {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.container-info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    font-size: 12px;
    color: white;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.pizza:hover .container-info {
    bottom: 0;
    transition: .5s;
}

.cardapio {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.titulo-secao {
    display: flex;
    align-items: center;
    gap: 24px;
}

.titulo-secao h3 {
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    /*serve para deixar as letra tudo em maiusculo */
    font-weight: 600;
    /* largura do texto*/
}

.opcoes-cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* ele espalha uniformemente e da um espaço no inico e no fim*/
    height: 300px;
    border-bottom: 2px solid var(--secundary-color);
}

.titulo-opcoes {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.titulo-opcoes h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.titulo-opcoes a {
    font-size: 1.5rem;
    font-weight: 600;
}

.opcoes-cardapio.bebida {
    border: none;
    /* colocamos isso para remover a linha em baixo das coca colas*/
}

.pizza.bebida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}

.pizza.bebida:hover {
    box-shadow: 2px 2px 8px #CCC;
}

.pizza.bebida .valor {
    color: var(--primary-color);
    width: 100%;
}

.pizza.bebida .descricao {
    font-size: 8px;
}

.servicos {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* espaço em cima e em baixo */
    padding-top: 32px;
    padding-bottom: 32px;
}

.opcoes-servicos {
    display: flex;
    justify-content: space-between;
}

.servico-card{
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}
.servico-card img {
    filter: drop-shadow(2px 2px 4px #667); /* este processo deixa a sombra somente na imagem, tirando as areas transparentes, porem é mais pesado do que usar a sombra normal */
}
.servico-card h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500; /* grossura da letra */
    text-shadow: 2px 2px 4px #667;
}
.servico-card p {
    text-align: center;
    font-size: 1.2rem;
    text-shadow: var(--default-shadow);
}

footer {
    background-color: var(--primary-color);
    height: 526px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.contatos-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-grow: 1;
    width: 70%;

}
.contatos-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*o texto começa no inicio */
    padding-top: 120px;
    gap: 16px;
}

.contatos-item.logo{
    justify-content: center;
    padding: 0;
}

.contatos-item h4{
    font-size: 1.5rem;
    font-weight: 500;
}
.contatos-item menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    font-weight: 300;
}

.contatos-item li{
    display: flex;
    gap: 16px;
}

.social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: 0.5s;
}

.social a:hover {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.creditos{
    height: 72px;
    border-top: 1px solid var(--secundary-color);
    width: 100%;
    display: grid; /* para alinhar somente um elemento é bom usar o display grid */
    place-content: center; /* este comando alinha ele certinho verticalmente e horizontalmente */
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
}